

body {
    font-family: 'Rubik', sans-serif;
    background-image: url(images/pattern-bg.png);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

input {
    width: 400px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}